{{ define "footerfiles" }}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@3.2.0/dist/fuse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

{{ end }}

{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" >
    <a href="/">返回首页</a>
    <br/>
    <br/>
    <form action="{{ "search.html" | absURL }}">
      <label for="search-query" style="color: #ccc; display: block">搜索本站</label>
      <input id="search-query" name="s" placeholder="search..." style="width: 300px; height: 30px"/>
    </form>
    <div id="search-results">
     <h2>Matching Pages</h2>
    </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
<script>
  document.getElementById('search-query').focus();
</script>

{{ end }}
